.numberEquation {
  font-size: 20px;
  letter-spacing: 0.2px;
  font-family: monospace;
  text-align: right;
  width: fit-content;
  .higherIndex {
    display: flex;
    
    p {
      width: 20px;
      margin: 0;
      flex-grow: 0;
      writing-mode: vertical-rl;
      text-orientation: upright;
    }
  }
  p {
    line-height: 0;
  }
  hr {
    margin: 1px;
  }
}
